<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>796970708043-0vpp9pqcrv81hpgo4hrh3pa13v1hr8s4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.796970708043-0vpp9pqcrv81hpgo4hrh3pa13v1hr8s4</string>
	<key>API_KEY</key>
	<string>AIzaSyCHV6Ovn122HinUt1RWqkXus9m77lrVYdM</string>
	<key>GCM_SENDER_ID</key>
	<string>796970708043</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myApp</string>
	<key>PROJECT_ID</key>
	<string>settle-playground</string>
	<key>STORAGE_BUCKET</key>
	<string>settle-playground.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:796970708043:ios:f0c2e3db46c1631ef231ce</string>
	<key>DATABASE_URL</key>
	<string>https://settle-playground-default-rtdb.firebaseio.com</string>
</dict>
</plist>